<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%include partials/navbar %>
  <h1>Contact Us</h1>
  <p>Email: geoffreyk126@gmail.com</p>
    <p>Phone: +254 0726 32 80 50</p>
    <p>Address: 24-05 Kenyatta Avenue, Nairobi, Kenya</p>
</body>
</html>
