<!DOCTYPE html>
<html>
<head>
  <title>Our Services</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <% include partials/navbar %>
  <h1>Our Services</h1>
  <p>Computer software Consultants</p>
    <p>Web Development</p>
    <p>Mobile App Development</p>
    <p>Data Analysis</p>
    <p>Cloud Computing</p>
    <p>IT Support</p>
    <p>Cybersecurity</p>
    <p>Digital Marketing</p>
    <p>SEO Services</p>
    <p>Content Creation</p>
    <p>Social Media Management</p>
    <p>Project Management</p>
    <p>Business Intelligence</p>
    <p>Database Management</p>
    <p>Network Administration</p>
    <p>System Integration</p>
    <p>Technical Support</p>
    <p>IT Consulting</p>
    <p>Software Testing</p>
    <p>Quality Assurance</p>
    <p>Cloud Storage Solutions</p>
    <p>Virtualization Services</p>
    <p>Disaster Recovery Solutions</p>
    <p>IT Infrastructure Management</p>
    <p>All your customized needs</p>

</body>
</html>
